.banner{
    padding-top: 5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 80vh;
}

.banner p{
    max-width: 65rem;
    margin-bottom: 1.5rem;
    font-size: var(--fs-ml);
}

.main_title{
    font-size: var(--fs-xl);
    font-weight: 700;
    margin-bottom: 1rem;
}

.letter_title{
    background: linear-gradient(90deg, rgba(255,165,161,1) 10%, rgba(156,75,255,1) 50%, rgba(64,190,255,1) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: letter-animation 4s infinite linear;
}

.banner button{
    background-color: var(--primary-color);
    color: #f2f6fa;
    padding: 1rem 4rem;
    border-radius: .5rem;
    font-size: 1.4rem;
}
@keyframes letter-animation {
    0% {
        -webkit-filter: hue-rotate(0deg);
    }
    50% {
        -webkit-filter: hue-rotate(180deg);
    }
    100% {
        -webkit-filter: hue-rotate(360deg);
    }
}