.card{
    height: 40rem;
    background: transparent
    radial-gradient(closest-side at 50% 50%, #2e2e2e 0, #191919 100%) 0 0
    no-repeat padding-box;
    overflow: hidden;
    text-rendering: optimizeLegibility;
    border-radius: .5rem;
    cursor: pointer;
}

.card picture{
    position: relative;
    width: 100%;
    height: 170px;
    object-fit: cover;
    overflow: hidden;
}

.card h5{
    font-weight: 500;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, .5);
    letter-spacing: .1rem;
}

.card h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 600;
    letter-spacing: .1rem;
    line-height: 2rem;
    margin-top: .5rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.content p{
    font-size: 1.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.content {
    padding: 1rem 2rem 2rem 2rem;
  }
  
  .footer {
    padding: 0 2rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .footer i {
    font-size: 1.8rem;
  }
  
  .footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 0.5rem;
  }
  
  .footer p span {
    padding: 0.5rem;
  }
  
  